.fourColumnFilterGrid {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

@container monitoring-page (max-width: 900px) {
  .fourColumnFilterGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@container monitoring-page (max-width: 768px) {
  .fourColumnFilterGrid {
    grid-template-columns: 1fr;
  }
}
